.cover__link {
  color: #fff;
  text-decoration: none;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

@media screen and (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    min-height: 200px;
  }
}