.places {
  display: grid;
  row-gap: 80px;
}

@media screen and (max-width: 1023px) {
  .places {
    row-gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    row-gap: 50px;
  }
}