.main {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-areas: 
    ". lead ."
    ". intro ."
    "photo-grid photo-grid photo-grid"
    ". places ."
    "cover cover cover";
    row-gap: 92px;
}