.footer__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
}

@media screen and (max-width: 767px){
  .footer__links {
    flex-flow: column nowrap;
    row-gap: 32px;
  }
}