.cover {
  position: relative;
  background-image: url(../../images/cover/cover__background.jpg);
  background-size: cover;
  background-position: center center;
  z-index: 0;
}

.cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: .3;
  transition: 0.2s;
  z-index: -1;
}

.cover:hover::after {
  opacity: .8;
}

