.footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px){
  .footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    row-gap: 48px;
  }
}